table {
    width: auto;
    height: auto;
    text-align: center;
    table-layout: fixed;
    margin: auto;
}

h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.botaop{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    max-width: 150px;
    min-width: 150px;
    margin: auto;
    margin-bottom: 40px;
}

.botaop2{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    max-width: 150px;
    min-width: 150px;
    margin: auto;
    margin-bottom: 40px;
}